<!--Form for registering user of the web app-->
{% extends "base/base.html" %}
{% block pageTitle %} Home{% endblock pageTitle %}Home

{% block content %}
    <div class="container text-center">
        <h1 class="m-0">Edit Profile Picture</h1>
        <div class="row text-center">
            <div class="col-12 col-md-4 m-auto my-1">
                <form action="" method="post" class="border border-3 border-dark-subtle rounded p-2 my-md-4 bg-primary-subtle" enctype='multipart/form-data' >
                    {% csrf_token %}
                    {{ form.image.label_tag }}
                    {{ form.image }}
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-primary my-4 col-12">Submit</button>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
