<div class="row">
    <div class="list-group p-2">
        <a class="list-group-item list-group-item-action bg-danger text-white disabled fw-bolder">MENU</a>
        <a href="#" class="list-group-item list-group-item-action bg-danger text-white">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action bg-danger text-white">Dustbin</a>
        <a href="#" class="list-group-item list-group-item-action bg-danger text-white">Electricity</a>
        <a href="#" class="list-group-item list-group-item-action bg-danger text-white">Water</a>
        <a href="#" class="list-group-item list-group-item-action bg-danger text-white">Household</a>
        <a href="#" class="list-group-item list-group-item-action bg-danger text-white">Electrical Appliance</a>
      </div>
</div>