<div class="row">
    <div class="list-group p-2">
        <a class="list-group-item list-group-item-action bg-danger text-white disabled fw-bolder">MENU</a>
        <a href="{% url "dashboard" %}" class="list-group-item list-group-item-action bg-danger text-white">Dashboard</a>
        <a href="{% url "utilityBills" %}" class="list-group-item list-group-item-action bg-danger text-white">Utility Bills</a>
        <a href="{% url "bills" %}" class="list-group-item list-group-item-action bg-danger text-white">View Utility Bills</a>
        <!--<a href="#" class="list-group-item list-group-item-action bg-danger text-white">Water</a>-->
        <a href="{% url "household" %}" class="list-group-item list-group-item-action bg-danger text-white">Household</a>
        <a href="{% url "electricalAppliance" %}" class="list-group-item list-group-item-action bg-danger text-white">Electrical Appliance</a>
      </div>
</div>