<!--Form for registering user of the web app-->
{% extends "base/base.html" %}
{% block pageTitle %} Home{% endblock pageTitle %}Home

{% block content %}
    <div class="container text-center">
        <h1 class="m-0 display-6">Register</h1>
        <div class="row text-start">
            <div class="col-12 col-md-4 mx-auto">
                <form action="" method="post" class="border border-3 border-dark-subtle rounded p-2 my-md-1 bg-primary-subtle">
                    {% csrf_token %}
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    {{ form.password_confirm.label_tag }}
                    {{ form.password_confirm }}
                    <!--{{ form.image.label_tag }}
                    {{ form.image }}-->
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-primary my-4 col-12">Submit</button>
                        </div> 
                        <div class=" text-center">
                            <a class="nav-links text-decoration-none text-dark text-opacity-50" href="{% url "home" %}">Allready registered, click here to login</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

