{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Utils | {% block pageTitle %}{% endblock pageTitle %} </title>
    <link rel="shortcut icon" href="{% static "base/images/defaultImage.png" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "base/bootstrap/css/bootstrap.min.css" %}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container">
              <img src="{% static "base/images/defaultImage.png" %}" alt="logo" style="width:2.6rem">
              <a class="navbar-brand text-white" href="{% url "home" %}">UTILSSS</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link text-white active" aria-current="page" href="{% url "home" %}">Home</a>
                  </li>
                  {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{% url "dashboard" %}">Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{% url "signOut" %}">Logout</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{% url "editUser" request.user.id %}">{{ request.user.username | title }}</a>
                  </li>
                  <li class="nav-item">
                    <img class="rounded-circle" src="{{ request.user.userprofilepic.image.url }}" alt="user image" style="width:40px; height:40px">
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{% url "home" %}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{% url "register" %}">Register</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <div class="text-center">
      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'success' %}
            <p class="text-success bg-success-subtle p-2 m-0">{{ message }} </p>
          {% elif message.tags == 'error' %}
            <p class="text-danger bg-danger-subtle p-2 m-0">{{ message }} </p>
          {% else %}
          <p class="text-info bg-info-subtle p-2 m-0">{{ message }} </p>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    
    <main class="bg-dark-subtle">
        {% block content %}{% endblock content %}
    </main>
    
    <footer class="bg-primary">
        <div class="container text-center text-white py-4">
            <p class="m-0">All rights reserved @ Utils</p>
            <p class="m-0">2024</p>
            <p class="m-0">Designed by Alphy</p>
        </div>
    </footer>
    <script src="{% static "base/bootstrap/js/bootstrap.bundle.min.js" %} "></script>
</body>
</html>