{% extends "base/base.html" %}

{% block pageTitle %}Dashboard{% endblock pageTitle %}

{% block content %}

<div class="container">
    <h1 class="text-center display-6 ">Contact</h1>
    <div class="row text-start">
        <div class="col-12 p-0 col-md-6 m-auto">
            <form action="" method="post" class="border border-3 border-dark-subtle rounded p-2 my-md-1 bg-primary-subtle">
                {% csrf_token %}
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.title.label_tag }}
                {{ form.title }}
                {{ form.message.label_tag }}
                {{ form.message }}
                <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn btn-primary my-4 col-12 col-md-6">Submit</button>
                    </div> 
                </div>

            </form>
        </div>
    </div>
     
</div>

{% endblock content %}