{% extends "base/base.html" %}
{% block pageTitle %} Home{% endblock pageTitle %}Home

{% block content %}
    <div class="container text-center">
        <h1 class="m-0 display-6">Household Utility Distribution System</h1>
        <div class="row text-start">
            <div class="col-12 col-md-4 m-auto my-5">
                <form action="" method="post" class="border border-3 border-dark-subtle rounded p-2 my-md-4 bg-primary-subtle">
                    {% csrf_token %}
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-primary my-4 col-12">Login</button>
                        </div> 
                        <div class=" text-center">
                            <a class="nav-links text-decoration-none text-dark text-opacity-50" href="{% url "register" %}">Not registered, click here to register</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock content %}