{% extends "base/base.html" %}

{% block content %}
    <div class="container text-center">
        <h1 class="m-0">Household Utility Distribution System</h1>
        <div class="row text-center">
            <div class="col-12 col-md-4 m-auto my-5">
                <form action="" class="border border-3 border-dark-subtle rounded p-2 my-4 bg-primary-subtle">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control">
                    <label for="password">Password:</label>
                    <input type="text" class="form-control">
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-primary my-4 col-12">Login</button>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}